* {
  color: brown;
}
.weathers {
  border: 1px solid rgb(163, 61, 61);
  box-shadow: 5px 5px 5px rgb(163, 61, 61);
  background-color: rgb(255, 227, 227);
  padding: 15px;
  border-radius: 5px;
  max-width: 600px;
  margin: 10px auto;
}
.weathers h1 {
  font-size: 28px;
  line-height: 29px;
}
.weathers ul {
  margin: 0;
  padding: 0;
}
.weathers li {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
  list-style: none;
}
.weathers form {
  margin: 20px 0 0 0;
  display: block;
  color: blue;
}
.weathers form input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(255, 227, 227);
}
.weathers .temperature {
  font-weight: 500;
  font-size: 54px;
}
